@import "../../styles/item_attributes.scss";

.boxShadow {
    // box-shadow: 0px 3px 16px #78BBFF !important;
    border: unset !important;
    // border-left: unset !important;
}
.info-text {
    //margin-left: 1rem;
}
.container-list {
    .decla-info {
        display: flex;
        flex: 1;
        padding-top: 1.5rem;
        .decla-number {
            font-size: 0.8rem;
            font-weight: bold;
            color: #0e1b3d;
            margin-left: 1rem;
        }
        .do-validity {
            flex-direction: row-reverse;
            flex: 1;
            display: flex;
            font-size: 1.1rem;
            align-items: center;

            .validity-text {
                font: normal normal normal 0.8rem Dubai;
                letter-spacing: 0px;
                color: #848484;
                opacity: 1;
                font-family: "Dubai-Light";
                font-weight: 600;
                margin-right: 1rem;
            }
        }
    }
}
