$white: #ffffff;
$white2: #fbfcff;
$red: #ea2428;
$black: #000000;
$green: #008000;
$black2: #00000029;
$darkBlue: #18274d;
$formFieldBlue: #0e1b3d;
$formMessageGray: #8a9ead;
$loadingBlue: #153485ce;
$borderColor: #8f94fb33;
$fieldSetBorderColor: #b8bcc7;
$pageBackGround: #f2f2f2;
$redBookingButton: #ff3e3e;
$borderButton: #3197ff;
$pink: #ff7575;
$pinkborder: #fb6363;
$blackTxt: #1b1b1b;
$black2: #232323;
$lightBlue: #78bbff;
$lightGray: #5d5d5d;
$royalBlue: #1360d2;
$commentGray: #848484;
$selectedBlue: #045984;
