#map-view {
  .map-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .show-map {
    opacity: 1;
  }

  .auto-complete-input {
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 18rem;
    height: 2rem;
    padding: 0 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    outline: none;
    font-family: "Dubai";
    font-weight: 600;
    text-overflow: ellipsis;
    position: absolute;
    left: 0%;
    // bottom:0%;
  }
  
}

.pac-container {
  z-index: 1300 !important;
}