.avatar {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 2px solid transparent;
  text-align: center;
  color: #fff;
}

.booking-avatar {
  height: 10px;
  width: 10px;
  border-radius: 25px;
  border: 2px solid transparent;
  margin-top: 5px;
}
